body{
  background-color: rgb(171, 179, 186);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,td {
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(204, 166, 166);
  padding: 10px;
  text-align: center;
  color: antiquewhite;
}

h1{
  text-align: center;
  color: rgb(245, 197, 197);
}
