body{
    background-color: aliceblue;
}

.table {
    display: flex;
  }
  
  .column {
    flex: 1;
    padding: 20px;
    border: 1px solid #9a6f6f;
  }

h1 {
    text-align: center;
    color: #535f78;
}

h3{
    text-align: center;
    color:#6499ce
}

.cell {
    text-align: center;
    color: #ffffff;
    background-color: rgb(134, 132, 132) ;
    border-radius: 6px;
    padding: 5px;
}

